@charset "UTF-8";
/*!
 * ress.css 窶｢ v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

body {
  overflow-x: hidden;
}

body.nav-open {
  position: fixed;
}

.l-header {
  height: 100%;
  background-color: #FFF7EF;
  text-align: center;
  width: 100%;
}

@media (min-width: 1200px) {
  .l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 217px;
  }
}

.l-header__left h1 {
  color: #707070;
  margin: 0px 46px 38px 86px;
  padding-top: 40px;
  font-size: 40px;
}

@media (min-width: 780px) {
  .l-header__left h1 {
    color: sandybrown;
  }
}

@media (min-width: 1200px) {
  .l-header__left h1 {
    color: blue;
    padding: 0;
  }
}

.l-header__right .searchform input[type=text] {
  height: 46px;
  border: 1px solid #999999;
  line-height: 26px;
  padding: 0 4px;
  font-family: FontAwesome;
  border-radius: 10px;
  margin-bottom: 38px;
}

@media (min-width: 1200px) {
  .l-header__right .searchform input[type=text] {
    width: 300px;
  }
}

.l-header__right .searchform ::-webkit-input-placeholder,
.l-header__right .searchform :-ms-input-placeholder,
.l-header__right .searchform ::-moz-placeholder {
  color: #d4d4d4;
}

.l-header__right .searchform button[type=submit] {
  height: 46px;
  width: 100px;
  line-height: 26px;
  background: #F2EDE9;
  border: solid 1px;
  border-color: #707070;
  color: #707070;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .searchform {
    background-color: #FFF7EF;
    display: flex;
    padding-right: 10px;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .main-wrapper {
    grid-row: 3/4;
  }
}

.global-nav {
  position: absolute;
  overflow-y: scroll;
  right: -320px;
  /* これで隠れる */
  top: 0;
  width: 300px;
  /* スマホに収まるくらい */
  height: 1826px;
  padding-top: 40px;
  background-color: #F2EDE9;
  transition: all .6s;
  z-index: 200;
  overflow-y: scroll;
  /* メニューが多くなったらスクロールできるように */
}

@media (min-width: 1200px) {
  .global-nav {
    padding-top: 100px;
    width: 360px;
    height: 2843px;
    position: static;
  }
}

.global-nav.nav-open {
  transition: .6s;
  right: 0;
}

.global-nav__list {
  text-align: left;
  color: #707070;
  margin-bottom: 40px;
  margin: 0 0 40px 40px;
}

.global-nav__item {
  text-align: left;
  padding: 0 24px;
  list-style: none;
}

.global-nav__item a {
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #707070;
}

.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}

@media (min-width: 1200px) {
  .nav-open .black-bg {
    display: none;
  }
}

.p-hamburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  /* クリックしやすいようにちゃんと幅を指定する */
  height: 40px;
  /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
  display: none;
}

.p-hamburger.nav-open {
  display: block;
  transition: all .6s;
}

@media (min-width: 1200px) {
  .p-hamburger.nav-open {
    display: none;
  }
}

.p-hamburger::after {
  transform: rotate(-45deg);
  content: '';
  width: 22px;
  height: 3px;
  background-color: #707070;
  position: absolute;
  left: calc(50% - (20px / 2 ));
  display: block;
  transition: transform 0.2s;
  top: 24px;
}

.p-hamburger::before {
  top: 24px;
  transform: rotate(45deg);
  content: '';
  width: 22px;
  height: 3px;
  background-color: #707070;
  position: absolute;
  left: calc(50% - (20px / 2 ));
  display: block;
  transition: transform 0.2s;
  bottom: 15px;
}

.p-hamburger_button {
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 20px;
}

@media (min-width: 1200px) {
  .p-hamburger_button {
    right: 250px;
  }
}

.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}

main {
  grid-column: 1/2;
  grid-row: 2/3;
}

.Hamburger {
  position: relative;
  height: 285px;
  background-image: url(../image/3ba5a44414bb3c0885c27ff614596431.png);
  background-size: cover;
  background-position: center;
  width: auto;
}

@media (min-width: 1200px) {
  .Hamburger {
    height: 530px;
    width: 100%;
  }
}

.Hamburger h1 {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 10%;
}

@media (min-width: 780px) {
  .p-service {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .p-service {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 1447px;
  }
}

.p-service__box {
  position: relative;
  background-image: url(../image/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
  background-size: cover;
  height: 700px;
  margin: 20px;
}

@media (min-width: 780px) {
  .p-service__box {
    width: 100%;
    height: 700px;
    margin: 10px;
  }
}

@media (min-width: 1200px) {
  .p-service__box {
    height: 1192px;
    margin: 120px 30px 134px 50px;
    position: relative;
  }
}

.p-service__title {
  position: absolute;
  color: #fff;
  font-size: 41px;
  top: 10%;
  left: 10%;
}

.u-bgi--eatin {
  background-image: url(../image/473d814b175bd517b56eb309f2958725.png);
  background-position: center;
}

.service-contents {
  padding: 10px;
  position: absolute;
  top: 40%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 10px 10px 10px;
}

@media (min-width: 1200px) {
  .service-contents {
    top: 60%;
  }
}

.service-contents__title {
  font-size: 22px;
  font-weight: normal;
  color: #707070;
}

.service-contents__text {
  padding: 23px 0;
  height: 100%;
}

.u-mgt--100 {
  top: 70%;
}

@media (min-width: 1200px) {
  .u-mgt--100 {
    top: 80%;
  }
}

.access {
  justify-content: center;
  color: #fff;
  width: 100%;
  background-size: cover;
  background-image: url(../image/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
  position: relative;
  background-position: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.7) 50%, rgba(128, 128, 128, 0.9) 50%, rgba(128, 128, 128, 0.7) 50%), url(../image/access1.png);
}

@media (min-width: 780px) {
  .access {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.7) 50%, rgba(128, 128, 128, 0.9) 50%, rgba(128, 128, 128, 0.7) 50%), url(../image/access1.png);
  }
}

.access-wrapper {
  padding: 46px 42px  51px 42px;
}

@media (min-width: 1200px) {
  .access-wrapper {
    height: 649px;
  }
}

.access__text {
  padding-top: 46px;
}

@media (min-width: 1200px) {
  height: 100%;
}

.container {
  background-color: #9D8670;
  height: 150px;
  width: 100%;
  color: #fff;
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    height: 150px;
  }
}

.container__title {
  font-size: 20px;
  padding-top: 43px;
}

.container__text {
  padding-top: 39px;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: 2843px 150px;
    grid-template-columns: 1fr 367px;
  }
}

@media (min-width: 1200px) {
  .l-sidebar {
    grid-column: 2/3;
    grid-row: 1/3;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.aside {
  height: 100%;
}

footer {
  grid-column: 1/3;
  grid-row: 2/3;
}
/*# sourceMappingURL=styles.css.map */