.c-global-nav__item {
  
  text-align: left;
  padding: 0 24px;
  list-style: none;
  a {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: $text-color;
  }
}